@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="Forecast">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label name="latitude" class="control-label">Latitude</label>
                    <input type="text" name="latitude" class="form-control" />
                </div>
                <div class="form-group">
                    <label name="longitude" class="control-label">Longitude</label>
                    <input type="text" name="longitude" class="form-control" />
                    <span name="longitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-controller="Home" asp-action="Forecast" 
                           asp-route-latitude="latitude" asp-route-longitude="longitude"
                           type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>